.button {
    background-color: rgb(170, 16, 16);
    list-style: none;
    width: 100px;
    text-align: center;
    padding: 20px 8px;
    margin: 0px;
}

.button a {
    text-decoration: none;
    color: white;
}

.logo {
    background-color: rgb(170, 16, 16);
}

.navlist {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

.navlist :hover {
    background-color: goldenrod;    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(170, 16, 16);
    height: 100%;
    padding: 0px;
}

@media min-width(901px) {
    .logo-container {
        display: flex;
        justify-content: center;
        background-color: rgb(170, 16, 16);
    }
    .navbar {
        display: flex;
        justify-content: center;
        background-color: rgb(170, 16, 16);
        height: 100%;
        padding: 0px;
    }
}

.email {
    background-color: rgb(170, 16, 16);
    border: none
}

.btn-primary:hover:active {
    background-color: rgb(145, 17, 17);
    border: none
}

.whatsapp {
    background-color: green;
    border: none;
    color: white;
}

.btn-outline-secondary:hover:active {
    background-color: rgb(7, 107, 7);
}